.section-growth {
  background-color: #f3f3f3;
  padding: 40px;
}

.growth-container {
  max-width: 1500px;
  margin: 0 auto;
}

.growth-graphic {
  align-items: flex-end;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

  h1,
  h2,
  p {
    color: #fff;
  }
}
