.card-item-container {
  display: flex;
  padding: 10px;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 150px;
  border: 1px solid #e1e1e1;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.card-info {
  margin-left: 30px;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    color: #a5a5ab;
    font-size: 15px;
  }
}
