.section-categorie {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
}

.categorie-item {
  max-width: 100%;

  height: calc(min(450px, 30vw));

  padding: 10px 30px;
  h1 {
    color: #fff;
  }

  h3 {
    color: #fff;
  }
}

//Metodo com GRID
.categorie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 50px auto;
  grid-gap: 20px;
  align-items: center;
}

.categorie > div:nth-child(1) {
  background: url("../../core/images/img1.png") no-repeat;
  background-size: cover;
  grid-column: 1;
}

.categorie > div:nth-child(2) {
  background: url("../../core/images/img2.png") no-repeat;
  background-size: cover;
  grid-column: 2 / span 2;
}

.categorie > div:nth-child(3) {
  background: url("../../core/images/img3.png") no-repeat;
  background-size: cover;
  grid-column: 1 / span 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categorie > div:nth-child(4) {
  background: url("../../core/images/img4.png") no-repeat;
  background-size: cover;
  grid-column: 1 / span 2;
  text-align: end;
}

.categorie > div:nth-child(5) {
  background: url("../../core/images/img5.png") no-repeat;
  background-size: cover;
  grid-column: 3;
}

//Tela de apenas 1000px
@media screen and (max-width: 1000px) {
  .categorie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 50px auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .categorie > div:nth-child(n + 1) {
    min-width: 280px;
    height: 350px;
  }

  .categorie > div:nth-child(2) {
    grid-column: 2;
  }

  .categorie > div:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .categorie > div:nth-child(4) {
    grid-column: 1;
  }

  .categorie > div:nth-child(5) {
    grid-column: 2;
  }
}

//Tela de apenas 750px
@media screen and (max-width: 750px) {
  .categorie {
    display: grid;
    grid-template-columns: 450px;

    margin: 50px auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .categorie > div:nth-child(n + 1) {
    padding: 20px;
    grid-column: 1;
    max-width: 450px;
    height: 400px;
    background-position: center;
  }
}
